.notes__popup {
  background:yellow;
  bottom:30%;
  height:50vh;
  position:absolute;
  right:25%;
  visibility:hidden;
  width:50vw;
}
.notes__popup__show {
  visibility:visible;
}
.notes__popup__closer {
  background:red;
  height:20%;
  text-align:center;
  width:100%;
}
.notes__text {
  height:80%;
  width:100%;
}
.notes__textarea {
  background:yellow;
  box-sizing:border-box;
  font-family:monospace;
  height:100%;
  width:100%;
}
.notes__button {
  height:20%;
  width:100%;
}
.notes__window {
  height:80%;
  width:100%;
}
